<div class="main">
    <section class="otp-content">
        <div class="otp-content-lt"></div>
        <div class="otp-content-rt">
          <div class="otp-box">
          <form class="otp-form" [formGroup]="changePassword" >
            <div class="logo-wrapper">
              <img src="../../assets/Images/logo.svg" alt="Rishabh Software">
              <span>Meal Facility</span>
            </div>
            <h3 class="otp-head">Change Password</h3>
            <p class="otp-text">Create new password for your account.</p>
            <div class="form-group">              
              <!-- ----------------------------------   -->
            </div>
            <div class="form-group">
                <label class="control-label">Old Password</label>
                <div class="input-addon">
                  <input formControlName="oldPassword" id="password-field" class="form-control" [type]="type" placeholder="Old Password">
                  <i class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></i>
                  <!-- <span toggle="#password-field" class="icon-eye-close field-icon toggle-password"></span> -->
                </div>  
                <div *ngIf="changePassword.get('oldPassword')?.touched && changePassword.get('oldPassword')?.invalid" class="text-danger">
                  Old Password is required
                </div>
                <!-- <small *ngIf="changePassword.controls['oldPassword'].dirty && changePassword.hasError('required','oldPassword')" class="text-danger">*fiels is required</small> -->
              </div>

            <div class="form-group">
              <label class="control-label">New Password</label>
              <div class="input-addon">
                <input formControlName="newPassword" id="password-field" class="form-control" [type]="type" placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }">
                <i class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></i>
                <!-- <span toggle="#password-field" class="icon-eye-close field-icon toggle-password"></span> -->
              </div>
              <div *ngIf="changePassword.get('newPassword')?.touched && changePassword.get('newPassword')?.invalid" class="text-danger">
                <div *ngIf="changePassword.get('newPassword')?.errors?.['required']">New Password is required</div>
                <div *ngIf="changePassword.get('newPassword')?.errors?.['minlength']">New Password must be at least 6 characters</div>
              </div>
              <!-- <small *ngIf="changePassword.controls['password'].dirty && changePassword.hasError('required','password')" class="text-danger">*fiels is required</small> -->
            </div>
            
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <div class="input-addon">
                  <input formControlName="confirmPassword" id="password-field" class="form-control" [type]="type" placeholder="Confirm Password"  [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                  <i class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></i>
                </div>
                <div *ngIf="changePassword.get('confirmPassword')?.touched && changePassword.get('confirmPassword')?.invalid" class="text-danger">
                  <div *ngIf="changePassword.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>
                  <div *ngIf="changePassword.get('confirmPassword')?.errors?.['minlength']">Confirm Password must be at least 6 characters</div>
                  <div *ngIf="changePassword.errors?.['mismatch']">Passwords do not match</div>
                </div>
                <!-- <small *ngIf="changePassword.controls['password'].dirty && changePassword.hasError('required','password')" class="text-danger">*fiels is required</small> -->
              </div>

            <div class="d-flex align-items-center justify-content-between">
              <div class="form-group mb-0">              
            </div>            
            </div>
          
            <div class="form-group btn-container">
              <button type="submit" class="btn btn-xl btn-primary" (click)="onSubmit()">Submit</button>
            </div>
          </form>
        </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
        
        