<div class="main">
  <section class="otp-content">
    <div class="otp-content-lt"></div>
    <div class="otp-content-rt">
      <div class="otp-box">
        <form class="otp-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="logo-wrapper">
            <img src="../../assets/Images/logo.svg" alt="Rishabh Software">
            <span>Meal Facility</span>
          </div>
          <h3 class="otp-head">New Password</h3>
          <p class="otp-text">Create new password for your account.</p>

          <div class="form-group">
            <label class="control-label">New Password</label>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput placeholder="New Password" id="newPassword" formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix class="visibility-icon" (click)="toggleVisibility()">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
            <div class="required" *ngIf="resetPasswordForm.controls['newPassword'].invalid && (resetPasswordForm.controls['newPassword'].dirty || resetPasswordForm.controls['newPassword'].touched)">
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors?.['required']">Password is required.</div>
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors?.['minlength']">Password must be at least 4 characters long.</div>
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors?.['maxlength']">Password cannot be more than 8 characters long.</div>
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors?.['passwordStrength']">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
              <mat-icon matSuffix class="visibility-icon" (click)="toggleVisibility1()">{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
            <div class="required" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)">
              <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required']">Confirm Password is required.</div>
              <div class="confirm" *ngIf="resetPasswordForm.errors?.['mismatch']">Passwords do not match.</div>
            </div>
          </div>

          <div class="form-group btn-container">
            <button type="submit" class="btn btn-xl btn-primary" mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid">
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
