.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calendar-card {
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .calendar-container {
    text-align: center;
  }
  
  .btncancel {
    margin-top: 20px;
    position: relative;
    text-align: right;
    top: 0%;
  }
  
  button {
    margin-left: 10px;
  }
  
  /* Styles for booked and canceled dates */
  ::ng-deep .mat-calendar-body-cell.booked-date .mat-calendar-body-cell-content {
    background-color: green !important;
    color: white !important;
    border-radius: 50%;
  }
  
  ::ng-deep .mat-calendar-body-cell.canceled-date .mat-calendar-body-cell-content {
    background-color: red !important;
    color: white !important;
    border-radius: 50%;
  }
  
  ::ng-deep .booked::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 5px;
    height: 10px;
    background-color: red !important;
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
  ::ng-deep .mat-calendar-body-cell.booked-date::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 35px;
    width: 5px;
    height: 5px;
    background-color: rgb(29, 173, 24) !important;
    border-radius: 50%;
    transform: translateX(-50%);
  } 